@media (max-width: 600px) {
  .logoname,
  .fork {
    display: none;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .input {
    width: 110px;
  }
  .heroimage {
    display: none;
  }
  .hero {
    margin-top: 0px;
  }
  .aboutimg {
    display: none;
  }
  .detailimg {
    margin: 50px;
  }
  .detailmeal {
    margin: 50px;
  }
  .instruction {
    width: 400px;
  }
}
